<article>
  <h2>Plan Your Journey on the MTA rail network</h2>

  <section class="theRoute">

    <!-- display a drop down list of lines -->
    <form action="">

      <div>
        <label for="startStation">Start Station</label>
        <select id="startStation" name="startStation">
          <!-- loop through the objects and display the lines -->
          <!-- loop through the lines and display the stops -->
        </select>
      </div>

      <div>
        <label for="endStation">End Station</label>
        <select id="endStation" name="endStation">

        </select>
      </div>

      <div>
        <input id="plan_btn" type="submit" value="Plan Route">
      </div>
    </form>

  </section>

</article>
