<article>
  <h2>Plan Your Journey on the MTA rail network</h2>

  <section class="theRoute">

    <!-- display a drop down list of lines -->
    <form action="">

      <div>
        <label class="description" for="startStation">Start Station</label>
        <select class="station" id="startStation" name="startStation">
          <!-- loop through object keys and display lines -->
          <!-- loop through lines and display stops -->
        </select>
      </div>

      <div>
        <label class="description" for="endStation">End Station</label>
        <select class="station" id="endStation" name="endStation">
          <!-- loop through object keys and display lines -->
          <!-- loop through lines and display stops -->
        </select>
      </div>

      <div>
        <input id="plan_btn" type="submit" value="Plan Route">
      </div>
    </form>

  </section>

</article>
