<article>
  <h3>Plan your journey on the MTA rail network</h3>

  <section class="theRoute">

    <!-- display a drop down list of lines -->
    <form method="post">

      <div class="planRoute">
        <label class="description" for="startStation">Start Station</label>
        <select class="station" id="startStation" name="startStation">
          <!-- loop through object keys and display lines -->
          <!-- loop through lines and display stops -->
        </select>
      </div>

      <div class="planRoute">
        <label class="description" for="endStation">End Station</label>
        <select class="station" id="endStation" name="endStation">
          <!-- loop through object keys and display lines -->
          <!-- loop through lines and display stops -->
        </select>
      </div>

      <div class="planRoute">
        <input id="plan_btn" type="button" value="Plan Route">
        <span id="plan_btn_help" class="help"></span>
      </div>
    </form>

  </section>

  <section id="routeInfo">
    <p id="routeInfo_msg"></p>
    <ul id="routeInfo_stops"></ul>
  </section>

</article>
