<div class="row">
  <div class="large-12 medium-12 columns">
    <article class="container">
      <h3>Plan your journey on the MTA rail network</h3>

      <div class="tumble"></div>

      <section class="route">
        <!-- display a drop down list of lines -->
        <form method="post">
          <label class="description" for="startStation">Start Station</label>
          <select class="station" id="startStation" name="startStation">
          </select>

          <label class="description" for="endStation">End Station</label>
          <select class="station" id="endStation" name="endStation">
          </select>

          <span id="plan_btn_help" class="help"></span>
          <input id="plan_btn" type="button" value="Plan Route">
        </form>
      </section>

      <section class="routeInfo">
        <h3 id="routeHeader"></h3>
        <div class="row">
          <div class="large-12 columns">
            <p id="routeInfoMsg"></p>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <ul id="routeInfoStops"></ul>
          </div>
        </div>
      </section>
    </article>
  </div>
</div>