<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>MTA</title>
    <link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css"></link>
    <script src="js/main.js"></script>
  </head>
  <body>
    <header>
      <h1>Route Planner</h1>
    </header>
      <%= yield %>
  </body>
</html>