html, body { height: 100%; }

html {
  background: url("/img/mta.jpg") center center fixed;
  background-repeat: no-repeat;
  background-color: rgba(62, 45, 53, .5);
  background-size: cover;
}

body {
  max-width: 940px;
  padding: 1em;
  margin: 0 auto;
  background-color: rgba(171, 133, 104, .8);
  font-family: 'Cutive Mono', serif;
}

h1, h2, h3 {
  font-family: 'Sancreek', cursive;
  text-align: center;
}

.route {
  width: 90%;
  margin: 0 auto;
}

.planRoute label {
  font-weight: bold;
  font-size: 1em;
  color: black;
}

#plan_btn {
  text-decoration: none;
  color: rgba(171, 133, 104, 1);
  background-color: rgba(92, 68, 64, 1);
  border-radius: .2em;
  font-size: .8em;
  padding: .5em;
  box-shadow: 0 0 1em #3E2D35;
}

#plan_btn_help {
  font-weight: 900;
  color: #8F171E;
}

#routeInfo_msg,
#plan_btn_help {
  text-align: justify;
}

/*********************************************************************/
  Media Queries
/*********************************************************************/

@media screen and (max-width: 320px) {

}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}
