html, body { height: 100%; }

html {
  background: url("/img/mta.jpg") center center fixed;
  background-repeat: no-repeat;
  background-color: rgba(62, 45, 53, .5);
  background-size: cover;
}

body {
  max-width: 940px;
  box-sizing: border-box;
  padding: 1em;
  margin: 0 auto;
  background-color: rgba(171, 133, 104, .7);
  font-family: 'Cutive Mono', serif;
  font-size: 2em;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Sancreek', cursive;
  text-align: center;
}

.planRoute {
  padding: .5em;
}

.description,
.station {
  display: inline-block;
}

.description {
 width: 45%;
 text-align: right;
 font-weight: 800;
}

.station {
  width: 46%;
  min-width: 13em;
  font-size: .6em;
}

.theRoute {
  display: block;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

.theRoute input {
  text-decoration: none;
  color: rgba(171, 133, 104, 1);
  background-color: rgba(92, 68, 64, 1);
  border-radius: 4px;
  font-size: .7em;
  padding: .5em;
  box-shadow: 0 0 1em #3E2D35;
  margin-left: 80%;
}

